.card {
  width: 20%;
  height: 15rem;
  margin: 1.2rem;
  text-align: center;
}
.card img {
margin-bottom: .5rem;
}

#container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  flex-wrap: wrap;
}

#productsSelector {
  width: 20vh;
  height: 5vh;
}
